* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 25px;
}

.user_info {
    display: flex;
}

p {
    margin-left: 25px;
}

.table-container {
    overflow-x: auto;
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
}

thead th {
    background-color: #a777e3;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    color: white;
}

