* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.form-group {
    margin: 15px 0;
    text-align: left;
}

label {
    font-size: 1.2em;
    color: #ffffff;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1.1em;
}

input[type="text"]::placeholder, 
input[type="email"]::placeholder, 
input[type="password"]::placeholder {
    color: #f3f3f3;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: #404234;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: #696b5a;
    transform: translateY(-2px);
}

ul {
  list-style: none;
  color: rgb(255, 255, 255);
}
